.idea/
fdsn.iml
docker-build-tmp/
cmd/fdsn-s3-consumer/fdsn-s3-consumer
cmd/fdsn-ws/fdsn-ws
cmd/fdsn-ws-event-loader/fdsn-ws-event-loader
cmd/fdsn-holdings-consumer/fdsn-holdings-consumer
cmd/fdsn-ws-holdings-loader/fdsn-ws-holdings-loader
*.o
*.a
