commands:
  01mkdir:
    command: "mkdir /media/ephemeral0"
  03format:
    command: "mkfs.ext4 -E nodiscard /dev/nvme0n1"
  03mount:
    command: "mount -o discard /dev/nvme0n1 /media/ephemeral0"

option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: BlockDeviceMappings
    value: /dev/nvme0n1=ephemeral0
